{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container dark-5 border margin z-depth-3">
    <div class="col s12 m7">
        <div class="card horizontal grey darken-4">
            <div class="card-image">
                <img style="max-height: 70vh" src="{{ asset('images/banner/login_banner.jpg') }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <form method="post">
                            {% include 'alert/alert.html.twig' %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h3 class="h3 mb-3 font-weight-normal white-text">Connexion</h3>
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        #}

                        <button class="btn g-recaptcha"
                                data-sitekey="6LcPuOcZAAAAAI_nHavCNN6G7J3YtmNpIZFH3hMT"
                                data-callback='onSubmit'
                                data-action='submit'>Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        function onSubmit(token) {
            $('form').submit();
        }
    </script>

{% endblock %}
