{% extends 'base.html.twig' %}
{% block body %}

    <div class="container row margin">
        <div class="col s12 dark-5 z-depth-2">
            <div class="card horizontal grey darken-4 col s12">
                <div class="card-image">
                    <img class="wow-thumbnail responsive-img" src="{{ character.thumbnail_url }}" alt="{{ character.name }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content white-text">
                        {{ character.name }}
                        {{ character.realm }}<br>
                        raiderIo score: <b style="color: {{ character.scoreColor }}">{{ character.mythic_plus_scores.all }}</b><br>
                        {% if character.covenant != null %}
                            {% if character.covenant.name == "Venthyr" %}
                                <a  href="#" data-wowhead="spell=321079"></a>
                            {% elseif character.covenant.name == "Kyrian" %}
                                <a  href="#" data-wowhead="spell=321076"></a>
                            {% elseif character.covenant.name == "Necrolord" %}
                                <a  href="#" data-wowhead="spell=321078"></a>
                            {% elseif character.covenant.name == "Night Fae" %}
                                <a  href="#" data-wowhead="spell=321077"></a>
                            {% endif %}
                            {{ character.covenant.name }} - lvl:
                            {{ character.covenant.renown_level }}
                        {% endif %}
                    </div>
                    <div class="card-action">
                        <a target="_blank" href="{{ character.profile_url }}">Raider.io</a>
                        <a href="#">Armory</a>
                    </div>
                </div>
            </div>

            <div class="card horizontal grey darken-4 col s12">
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <span class="card-title">Gear</span>
                        {% for item in character.gear.items %}
                            <a href="#" data-wowhead="item={{ item.item_id }}
                            &ilvl={{ item.item_level }}&ench=
                            {% if item.enchant is defined %}
                            {{ item.enchant }}
                            {% endif %}
                            &gems={{ item.gems|join(':') }}
                            &item&bonus={{ item.bonuses|join(':') }}">
                            </a>
                        {% endfor %}
                    </div>
                    <div class="card-action">
                        {% for item in traits %}
                            <a href="#" data-wowhead="spell={{ trait }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="card horizontal grey darken-4 col s5">
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <span class="card-title">Talents</span>
                        {% for talent in talents %}
                            <a href="#" data-wowhead="spell={{ talent.spell_tooltip.spell.id }}">
                            </a>
                        {% endfor %}
                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>


            <div class="card horizontal grey darken-4 col s12">
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <span class="card-title">Dungeon</span>

                        <table>
                            <thead>
                            <tr>
                                <th></th>
                                <th>Dungeon</th>
                                <th>Mythic lvl</th>
                                <th>Score</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for run in character.mythic_plus_best_runs|sort %}
                                {% if dungeons[loop.index - 1].name == run.dungeon %}
                                <tr class="dungeon-row" onclick="window.location='{{ run.url }}';">
                                    <td><img src="{{ dungeons[loop.index - 1].media }}" class="responsive-img" style="max-height: 38px"></td>
                                    <td>{{ run.short_name }}</td>
                                    <td>+{{ run.mythic_level }}{% for i in 1..run.num_keystone_upgrades %}<i class="tiny orange-text darken-2 material-icons">star</i>{% endfor %}</td>
                                    <td>{{ run.score }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="card-action">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <style>
        .dungeon-row:hover {
            background-color: #4c5367;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>const whTooltips = {colorLinks: true, iconizeLinks: true, iconSize: 'medium'}</script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
{% endblock %}