{% extends 'base.html.twig' %}
{% block body %}

    <div class="container row margin">
        <div class="col s12 grey darken-4 z-depth-2">
            <div class="card horizontal grey darken-4">
                <div class="card-image">
                    <img class="responsive-img" src="{{ character.thumbnail_url }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content white-text">
                        {{ character.name }}
                        {{ character.realm }}<br>
                        raiderIo score: {{ character.mythic_plus_scores.all }}<br>
                        {% if character.covenant != null %}
                            {% if character.covenant.name == "Venthyr" %}
                                <a  href="#" data-wowhead="spell=321079"></a>
                            {% elseif character.covenant.name == "Kyrian" %}
                                <a  href="#" data-wowhead="spell=321076"></a>
                            {% elseif character.covenant.name == "Necrolord" %}
                                <a  href="#" data-wowhead="spell=321078"></a>
                            {% elseif character.covenant.name == "Night Fae" %}
                                <a  href="#" data-wowhead="spell=321077"></a>
                            {% endif %}
                            {{ character.covenant.name }} - lvl:
                            {{ character.covenant.renown_level }}
                        {% endif %}
                    </div>
                    <div class="card-action">
                        <a target="_blank" href="{{ character.profile_url }}">Raider.io</a>
                        <a href="#">Armory</a>
                    </div>
                </div>
            </div>

            <div class="card horizontal grey darken-4">
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <span class="card-title">Gear</span>
                        {% for item in character.gear.items %}
                            <a href="#" data-wowhead="item={{ item.item_id }}
                            &ilvl={{ item.item_level }}&ench=
                            {% if item.enchant is defined %}
                            {{ item.enchant }}
                            {% endif %}
                            &gems={{ item.gems|join(':') }}
                            &item&bonus={{ item.bonuses|join(':') }}">
                            </a>
                        {% endfor %}
                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>const whTooltips = {colorLinks: true, iconizeLinks: true, iconSize: 'medium'}</script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
{% endblock %}